@using BaseSource.ViewModels.Channel;
@model List<ChannelYoutubeDto>
@{

    ViewData["Title"] = $"Danh sách Kênh";
   
    var index = 1;
}
<section class="section">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Danh sách</a></div>
            <div class="breadcrumb-item">Danh sách Kênh</div>
        </div>
    </div>

    <div class="section-body">
        <h2 class="section-title">@ViewData["Title"]</h2>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tableChannels">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Avatar</th>
                                        <th>Kênh</th>
                                        <th>Link kênh</th>
                                        <th>BotName</th>
                                        <th>Group</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td><img  width="35" height="35" src="@item.Avatar"/></td>
                                            <td>@item.Name</td>
                                            <td><a href="https://www.youtube.com/channel/@item.ChannelYTId">@item.ChannelYTId</a></td>
                                            <td>@item.BotName</td>
                                            <td>@item.BotGroup</td>
                                            <td>
                                                @switch (item.Status)
                                                {

                                                    case ManagerBOTStatus.Connected:
                                                        <span class="badge badge-success">Connected</span>
                                                        break;
                                                    case ManagerBOTStatus.Disconnected:
                                                        <span class="badge badge-danger">Disconnected</span>
                                                        break;
                                                }
                                            </td>
                                            <td>
                                                <a class="btn btn-warning" href="#" onclick="updateChannel('@item.Id')">Cập nhật</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tableChannels").DataTable({});
        });
        function updateChannel(channelId) {
            $.ajax({
                type: "POST",
                url: "/admin/channel/UpdateProfile",
                data: { id: channelId },
                success: function (response) {
                    location.reload();
                }
            });
        }
    </script>
}

